.category-select .ant-select-item {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 10px;
  color: #222 !important;
}
.category-select .ant-select-selection-item {
  padding: 15px 0 !important;
  color: #222 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 14px;
}

.category-custom-dropdown .ant-select-item-option-active {
  background: #52535379 !important;
  color: #181918 !important;
}
.category-custom-dropdown .ant-select-item-option-active:hover {
    color: #181918 !important;
  background: #52535379 !important;
}
.category-custom-dropdown .ant-select-item-option-selected {
  background: #b3b4b479 !important;
  color: #030303 !important;
}
.category-custom-dropdown .ant-select-item-option-selected:hover {
  background: #c9d0cb79 !important;
}



.category-custom-dropdown {
  text-transform: lowercase;
  border: 1px solid #f9fafb;
  border-radius: 20px;
  padding: 10px 15px;
}

.category-custom-dropdown .ant-select-item {
  padding: 7px 20px !important;
  min-height: 0 !important;
  border-radius: 10px;
  margin-top: 5px !important;
}
.category-custom-dropdown .ant-select-item:hover {
  background-color: #b5b5b531 !important;
}
