@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body{
    /* background-color: #f6f5f8; */
     height: 100%;
   overflow: unset;
   }
  h1 {
  font-family: "Open Sans", sans-serif;

  }
}

@layer utilities {
 
  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
  }

  @media (min-width: 0px) and (max-width: 666px) {
    .container {
      width: 100%;

    }
  }

  @media (min-width: 501px) and (max-width: 767px) {
    .container {
      max-width: 700px;
    }
  }



  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      max-width: 860px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      max-width: 900px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    .container {
      max-width: 1130px;
    }
  }

  @media (min-width: 1400px) and (max-width: 1599px) {
    .container {
      max-width: 1240px;
    }
  }

  @media (min-width: 1600px) and (max-width: 1800px) {
    body .container {
      max-width: 1340px;
    }
  }
}
.ul-list {
  position: relative; /* needed so ::before positions relative to ul */
  list-style: none;   /* remove default bullets */
  margin: 0;
}
 
.ul-list::before {
  content: '';
  position: absolute;
  left: 18px;          
  top: 0;           
  width: 2px;       
  height:calc(100% - 23px);     
  background-color: rgb(230, 237, 229);
}

.li-list {
  position: relative;
  padding-left: 20px; 
}

.li-list::before {
  content: url("./assets/images/icon.svg");
  background-color: antiquewhite;
  position: absolute;
  left: 6px;
  top: 40%;
  right: 10px;
  transform: translateY(-50%); 
  max-width: 0;
}



  /* scrollbar  */
  ::-webkit-scrollbar {
  width: 6px;
}

  ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #c1c0c2 !important;
      /* Thumb color */
      border-radius: 10px;
      /* Sharp edges, no rounded corners */
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
      /* Track color */
      border-radius: 0;
      /* Sharp edges for the track */
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #e9e5e7;
      /* Thumb color on hover */
    }

  




.no-scrollbar {
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.liquidGlassEffectForHeader{
  /* background: rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(1.2px) saturate(90%);
  /* -webkit-backdrop-filter: blur(7px);  */
  background: rgba(255, 255, 255, 0.12);
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 30px */
  /* backdrop-filter: blur(2.2px); */
 /* background: #5a5a5a2e; */


  }