@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
  }

  @media (min-width: 0px) and (max-width: 666px) {
    .container {
      width: 100%;

    }
  }

  @media (min-width: 501px) and (max-width: 767px) {
    .container {
      max-width: 700px;
    }
  }



  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      max-width: 860px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      max-width: 900px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    .container {
      max-width: 1130px;
    }
  }

  @media (min-width: 1400px) and (max-width: 1599px) {
    .container {
      max-width: 1240px;
    }
  }

  @media (min-width: 1600px) and (max-width: 1800px) {
    body .container {
      max-width: 1340px;
    }
  }
}